@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    160 Princess Street<br />
    Winnipeg, MB R3B 1K0<br />
    <abbr title="Phone">P: 204.632.2327</abbr>
    425.555.0100
</address>
